# Common
NODE_ENV=development
PORT=3000

# App Details
APP_NAME='NestJS REST Starter'
APP_DESCRIPTION='Production-ready NestJS REST API Starter'

# JWT
JWT_SECRET=change-me-to-a-strong-random-secret
JWT_RESET_SECRET=change-me-to-a-strong-random-secret

# Database
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=db
DB_LOGGING=false
DB_SYNC=true

# Redis Cache & Revocation
REDIS_ENABLED=true
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
